### Pearsons correlation

In [3]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
# dummy data
df = pd.DataFrame(np.random.randn(100, 4), columns=['a', 'b', 'c', 'd'])
df.head()

          a         b         c         d
0 -0.437555 -2.248671 -1.436078 -0.472299
1  1.475358  1.576810 -1.251248 -0.082801
2  0.396439 -0.783586 -0.454889 -0.094871
3  0.348854 -1.224001  1.642409  0.661689
4  0.698055 -0.883324  1.438968  0.411498

In [9]:
df.corr().round(3)

       a      b      c      d
a  1.000  0.042 -0.065 -0.201
b  0.042  1.000  0.123 -0.004
c -0.065  0.123  1.000  0.007
d -0.201 -0.004  0.007  1.000

### Spearman Rank Correlation

In [13]:
df.corr(method='spearman')

          a         b         c         d
a  1.000000  0.061998 -0.011905 -0.203456
b  0.061998  1.000000  0.117648  0.049553
c -0.011905  0.117648  1.000000  0.023558
d -0.203456  0.049553  0.023558  1.000000

In [23]:
rho = df[['a', 'b']].corr(method='spearman').iloc[0,1]
print(rho)

0.061998199819981996

In [19]:
from scipy.stats import spearmanr
rho, p_value = spearmanr(df['a'], df['b'])
print(rho, p_value)

0.06199819981998199 0.5400236641560241

In [11]:
df.corr(method='kendall')

          a         b         c         d
a  1.000000  0.048485 -0.004444 -0.124848
b  0.048485  1.000000  0.080000  0.035556
c -0.004444  0.080000  1.000000  0.012525
d -0.124848  0.035556  0.012525  1.000000